*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: black;
    
    
}
body{
    display: flex;
    
    align-items: center;
    justify-content: center;
}
.container{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 4fr;
    height: 500px;
    width: 500px;
    background-color: black;
    border: 2px solid white;
    gap: 20px;
    padding: 4%;
    margin-top: 60px;
    
}
.b{ 
    
    background-color: black;
    border: 2px solid white;
    overflow: hidden;
}
.box1{
    grid-area: 1/1/2/2;
}
.box2{
    grid-area: 2/1/3/2;
}
.box3{
    grid-area: 3/1/4/2;
}
.box4{
    grid-area: 4/1/5/2;
}
.box5{
    grid-area: 1/2/5/3;
}
img{
    height: 100%;
    width: 100%;
   
}